body {
    font-family: 'Quicksand', sans-serif;
    background-color: #0F0727;
    margin: 0;
    cursor: none;
}
.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: #8602FA;
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-dot,.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

/*color: #8602FA;*/
.moon-dance-regular {
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
}

.qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav {
    display: flex;
    color: white;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 3vw;

}

.nav img {
    width: 15vw;
    padding-top: 1vh;
}

.nav-part2 {
    display: flex;
    gap: 5vw;
    padding-right: 2vw;
    list-style-type: none;
}

.nav-part2 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 2ms;
    font-size: 1.3vw;
}

.nav-part2 a:hover {
    color: #8602FA;
}

.nav-part2 i {
    font-size: 1.5vw;
    display: none;
    align-items: center;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 45vh;
    width: 250px;
    z-index: 999;
    padding-top: 5vh;
    padding-bottom: 2vh;
    gap: 4vh;
    background-color: #0C0422;
    box-shadow: #191131 inset 2px;
    opacity: 95%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 2ms;
    font-size: 1.3vw;
}

.sidebar li:hover {

    opacity: 50%;
    width: 100%;
}


@media (max-width:600px) {
    .nav {
        height: 80px;
    }

    .nav img {
        width: 30vw;
    }

    .nav-part2 i {
        display: block;
        font-size: 6vw;
    }

    .nav-part2 a {
        font-size: 4vw;
        display: none;
    }

    .sidebar {
        display: none;
        position: absolute;
        font-size: 3vh;
        width: 100px;
    }

    .sidebar a {
        font-size: 2.5vh;
    }
}


#home {
    height: calc(100%-100px);
    width: 100%;
    display: flex;
    margin-top: 3vh;
}

.home-text {
    width: 50%;
    height: 100%;
    margin: 9vh 2vw 5vh 2vw;
    text-align: center;
    justify-content: center;
    line-height: 1vh;
}

.text1 {
    color: white;
    font-size: 5vw;
    font-weight: 600;
}

.text2 {
    color: #8602FA;
    font-size: 3vw;
    font-weight: 400;
    font-family: moon dance;
}

.text3 {
    color: white;
    font-size: 4vw;
    font-weight: 500;
}

.home-image {
    width: 50%;
    height: 100%;
    margin: 30vh 4vw 5vh 2vw;
    text-align: center;
    justify-content: center;
}

.home-image img {
    text-align: center;
    justify-content: center;
    width: 25vw;
    height: auto;
}

.earth {
    position: absolute;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: url(earth5sr.png);
    background-size: cover;
    background-repeat: repeat-x;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 1), 0 0 50px #8602FA;
    border-radius: 50%;
    animation: animateearth 100s linear infinite;
}

@keyframes animateearth {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 750px 0;
    }
}


@media (max-width:600px) {
    .home {
        margin-top: 2vh;
        display: inline;
    }

    .earth {
        width: 50vw;
        height: 23vh;
        margin-top: -25%;
        left: 50%;
        opacity: 35%;

    }

    .home-text {
        width: 100%;
        background-size: cover;
        text-align: center;
        margin-left: 30%;

    }

    .text1 {
        font-size: 8vw;
    }

    .text2 {
        font-size: 6vw;
    }

    .text3 {
        font-size: 7vw;
    }
}


.about {
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.bottom-line {
    width: 70%;
    text-align: center;
    border-bottom: 0.5vh solid #8602FA;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 0.09em;
    position: relative;
    margin-top: 1.1vh;
    margin-bottom: 2vh;
    margin-left: 15%;
}

.bottom-line span {
    background: #0F0727;
    color: white;
    padding: 0 10px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.about-text {
    margin-top: 15vh;
    white-space: nowrap;
    color: white;
    letter-spacing: 0.5vw;
    font-size: 1.2vw;
    line-height: 6vh;
    margin-left: 20%;
    overflow: hidden;
}

.line1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #8602FA;
    /* Adjust thickness and color as needed */
    margin-bottom: 5px;
    /* Adjust spacing between lines */
    animation: typing1 10s steps(70, end) infinite;
}

@keyframes typing1 {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.line1 {
    animation-fill-mode: forwards;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #8602FA
    }
}

@media (max-width:600px) {
    .about {
        margin-top: 10vh;
    }

    .bottom-line {
        font-size: 3vw;
        line-height: 0%;
    }

    .about-text {
        margin-top: 5vh;
        font-size: 2vw;

        letter-spacing: 0.4vw;
        margin-left: 12%;
        animation: typing1 0s steps(80, end) infinite
    }
}



.sponsor {
    margin-top: 20vh;
    align-items: center;
    justify-items: center;
}

.sponsor-text {
    color: #8602FA;
    font-size: 3vw;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.6vw;
}

.sponsor-text span {
    color: white;
}

.companies-logo {
    display: flex;
    margin-top: 10vh;
    width: 60%;
    margin-left: 20%;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secops {
    width: 10vw;
    height: auto;
    filter: grayscale(100%);
}

.secops:hover {
    filter: grayscale(0%);
}

.unstop {
    width: 10vw;
    height: auto;
    filter: grayscale(100%);
}

.unstop:hover {
    filter: grayscale(0%);
}

@media (max-width:600px) {
    .sponsor {
        margin-top: 5vh;
    }

    .sponsor-text {
        font-size: 6vw;
    }

    .companies-logo {
        margin-top: 5vh;
    }

    .unstop {
        width: 17vw;
    }

    .secops {
        width: 17vw;
    }
}

.linux-club {
    margin-top: 15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.row-1 {
    display: flex;
    margin-top: 5vh;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 6vw;
    margin-left: 5%;
}

.box-1 {
    background-color: #290460;
    color: white;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    text-align: center;
    height: 55vh;
    border-radius: 10%;
}

.box-head {
    font-size: 1.7vw;
    line-height: 6vh;
    letter-spacing: 0.51vw;
    margin-top: 4vh;
}

.box-line {
    border-radius: 15%;
    border: 0.5vh solid #8602FA;
    width: 80%;
    margin-top: -3vh;
    margin-bottom: 5vh;
    margin-left: 10%;
}

.box-text {
    padding: 0 1vw 0 1vw;
    font-size: 1vw;
    line-height: 6vh;
    font-weight: 400;
    margin-bottom: 4vh;
}

@media (max-width:600px) {
    .linux-club {
        margin-top: 6vh;
    }

    .row-1 {
        margin-top: 2vh;
        width: 80%;
        margin-left: 10%;
    }

    .box-1 {
        height: 25vh;
    }

    .box-head {
        font-size: 3vw;
        line-height: 2vh;
    }

    .box-line {
        margin-top: -1vw;
        border: 0.3vh solid #8602FA;
    }

    .box-text {
        font-size: 1.6vw;
        line-height: 2vh;
        margin-top: -3vh;
        padding: 0 1.2vw 0 1.2vw;
    }
}

#events {
    margin-top: 30vh;
}

.event-box {
    display: flex;
    width: 80%;
    margin-left: 10%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    gap: 7vw;
}

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
}

.container:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front-1,.front-2,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front-1 {
    background: url(Third-Eye-Quest.png);
}
.front-2{
    background: url(Silent-disco.png);
}


.back {
    background: rgb(29, 04, 60 );
    transform: rotateY(180deg);
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-name{
    color: #8602FA;
    font-size: 2.5vw;
}
.event-desc{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    line-height: 3.5vh;
}

@media (max-width:600px) {
    #events {
        margin-top: 15vh;
    }

    .event-box {
        margin-top: 7vh;
        gap: 5vh;
    }
    .container{
        width: 150px;
        height: 250px;
    }

    .front-1{
        background-image: url(Third-Eye-Quest-1.png);
    }
    .front-2{
        background-image: url(Silent-disco-1.png);
    }
    .event-name{
        font-size: 4vw;
    }
    .event-desc{
        font-size: 1.2vw;
        line-height: 2vh;
    }
}

.faculty {
    margin-top: 30vh;
    text-align: center;

}

.faculty-sub {
    text-align: center;
    color: #8602FA;
    font-family: Qwitcher Grypen;
    font-size: 2vw;
    letter-spacing: 1vw;

}

.faculty-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
    gap: 7vw;
}

.faculty1 {
    width: 30vw;
    align-items: center;
    height: auto;
    box-shadow: 0 0 7px 4px rgba(50, 50, 50, 0.25);
    justify-content: center;
    border: white solid 0.01em;
    border-radius: 30px;
}

.faculty1 img {
    width: 150px;
    margin-top: 5vh;
    height: 150px;
    border-radius: 50%;

}

.faculty-text {
    color: white;
    font-size: 1.8vw;
    font-weight: 350;
}

.faculty-subtext {
    color: #8602FA;
    margin-top: 2vh;

    font-size: 1.4vw;
}

@media (max-width:600px) {
    .faculty {
        margin-top: 10vh;
    }

    .faculty-sub {
        font-size: 4vw;
    }

    .faculty-box {
        margin-top: 6vh;
    }

    .faculty1 {
        height: auto;
    }

    .faculty-box img {
        width: 80px;
        height: 80px;
        margin-top: 2vh;
    }

    .faculty-text {
        font-size: 2vw;
        font-weight: 400;
    }

    .faculty-subtext {
        font-size: 1.6vw;
        margin-bottom: 2vh;
    }
}

#our-team {
    margin-top: 30vh;
}

.trans-box {
    width: 90%;
    margin-top: 12vh;
    margin-left: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #191131;
    border-radius: 10px;

}

.row-team {
    width: 80%;
    padding-top: 10vh;
    margin-left: 10%;
    text-align: center;
    display: flex;
    gap: 10vw;
    align-items: center;
    justify-content: center;

}

.member1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}

.member-name {
    color: white;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
}

.member-post {
    color: #8602FA;
    font-weight: 300;

    font-size: 1vw;
    letter-spacing: 0.4vw;
}

.team-lines {
    width: 80%;
    margin-left: 10%;
}

@media (max-width:600px) {
    #our-team {
        margin-top: 12vh;
    }

    .trans-box {
        margin-top: 5vh;
        width: 80%;
        margin-left: 10%;
    }

    .row-team {
        gap: 4vw;
        padding-top: 1vh;
    }

    .member1 img {
        width: 80px;
        height: 80px;
    }

    .member-name {
        font-size: 2.5vw;
    }

    .member-post {
        font-size: 2vw;
    }
}




#contact-us {
    margin-top: 30vh;
}

.contact-box {
    display: flex;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-top: 10vh;
    gap: 10vw;
}

.address {
    margin-top: 7vh;
    margin-left: 5vw;
}

.address-heading {
    color: #8602FA;
    font-size: 2vw;
    font-weight: 550;
    margin-bottom: 4vh;
}

.address-text {
    color: white;
    font-size: 1.2vw;
    font-weight: 350;
    letter-spacing: 0.2vw;
    margin-top: -1vh;
    line-height: 4vh;
}

.address a {
    text-decoration: none;
    font-size: 2vw;
}

.address i {
    color: white;
    width: 1vw;
    height: auto;
    margin-left: 1vw;
    gap: 2vw;
}

.address i:hover {
    color: #8602FA;
}

.form-box {
    margin-top: 5vh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

form {
    padding: 0vw 4vw;
    width: 90%;
    max-width: 600px;
    display: flex;
    gap: 0vh;
    flex-direction: column;
    border-radius: 15px;
    color: white;
    background-color: #290460;
}

.message {
    font-size: 3vw;
    margin-bottom: 5vh;
    text-align: center;
    color: white;
}



form label {
    font-size: 1.5vw;
    text-align: left;
    margin-bottom: -2vh;
}

form input,
form textarea {
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    background: white;
    font-size: 1vw;
    margin-bottom: -3vh;
}

.form-button {
    text-align: center;
    align-items: center;
}

form button {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    padding: 1.5vh 3vw;
    font-family: quicksand;
    color: #0F0727;
    font-size: 1.5vw;
    margin-bottom: 8vh;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

form button:hover {
    background-color: #8602FA;
    color: white;

}

@media (max-width:600px) {
    #contact-us {
        margin-top: 10vh;
    }

    .contact-box {
        flex-direction: column;
        margin-top: 4vh;
    }

    .address {
        margin-top: 3vh;
    }

    .address-heading {
        font-size: 5vw;
        margin-bottom: 2vh;
    }

    .address-text {
        font-size: 3.5vw;
        line-height: 3vh;
    }

    .address i {
        font-size: 6vw;
    }

    .form-box {
        width: 80%;
        margin-left: 10%;
        margin-top: 3vh;
        display: none;
    }

    .form textarea {
        font-size: 3vh;
    }

    .form input {
        font-size: 2vh;
    }

    .message {
        font-size: 6vw;
        margin-bottom: 0.5vh;
    }

    form label {
        margin-top: 0.5vh;
        font-size: 2.5vw;
    }

    form button {
        padding: 1vh 4vw;
        font-size: 3vw;
    }
}



footer {
    margin-top: 20vh;
    margin-bottom: -8vh;
    background-color: #0C0422;
    width: 100%;


}

.footer-info {
    display: flex;
    gap: 15vw;
    width: 90%;
    position: relative;
    color: white;
    padding-top: 5vh;
    margin-left: 5%;
}

.logo-column {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo-column img {
    width: 21vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

.power {
    font-size: 1.5vw;
    text-align: center;
    line-height: 0.1vh;
    font-weight: 400;
}

.quick-links-heading {
    font-weight: 550;
    font-size: 1.8vw;
}

.links {

    list-style-type: none;
    line-height: 7vh;
}

.links a {
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    margin-left: 1vw;
}

.links a:hover {
    color: #8602FA;
}

.footer-social {
    margin-top: 5vh;
    text-align: center;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 4vh;
    gap: 3vw;
    justify-content: center;
}

.footer-social i:hover {
    color: #8602FA;
}

.footer-line {
    width: 90%;
    margin-left: 5%;

}

.footer-social a {
    text-decoration: none;
    font-size: 2vw;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
    padding-bottom: 5vh;
    margin-top: 3vh;
    font-weight: 300;
    font-size: 1vw;

}

@media (max-width:600px) {
    footer {
        margin-top: 5vh;
    }

    .copyright {
        font-size: 2vw;
        padding-bottom: 3vh;
        margin-top: 2vh;
    }

    .footer-info {

        gap: 5vh;
    }

    .logo-column {
        text-align: left;

    }

    .logo-column img {
        width: 45vw;
    }

    .power {
        text-align: left;
        font-size: 4vw;
        padding-left: 10vw;
    }

    .quick-links {
        width: 50%;
    }

    .quick-links-heading {
        font-size: 5vw;
        padding-left: 4vw;
    }

    .links {
        line-height: 4vh;
        padding-left: 4vw;
    }

    .links a {
        font-size: 3vw;
    }

    .news {
        display: none;
    }

    .footer-social {
        margin-bottom: 2vh;
    }

    .footer-social a {
        font-size: 3vh;
    }


}
